{
  "openapi": "3.1.0",
  "info": {
    "title": "Recoup API - Billing",
    "description": "API documentation for the Recoup platform - an AI agent platform for the music industry",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.recoupable.com"
    }
  ],
  "paths": {
    "/api/credits": {
      "get": {
        "description": "Returns the credit balance for the authenticated account, automatically resetting the balance when the account is on a refill cycle (monthly cadence or just-activated subscription). Honors both account-level and organization-level Stripe subscriptions when deciding whether the refill should use the pro tier.",
        "security": [
          {
            "apiKeyAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Credits retrieved (and refilled if eligible).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditsGetResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      },
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "Your Recoup API key. [Learn more](/quickstart#api-keys)."
      }
    },
    "schemas": {
      "CreditsGetResponse": {
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/CreditsUsage"
              },
              {
                "type": "null"
              }
            ],
            "description": "The authenticated account's credits usage row, or null when the account has no credits row yet."
          }
        }
      },
      "CreditsUsage": {
        "type": "object",
        "required": [
          "account_id",
          "remaining_credits"
        ],
        "properties": {
          "account_id": {
            "type": "string",
            "description": "The Recoup account ID."
          },
          "remaining_credits": {
            "type": "number",
            "description": "Remaining credits for the account."
          },
          "timestamp": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO timestamp of the last credits refill."
          }
        }
      },
      "BillingErrorResponse": {
        "type": "object",
        "required": [
          "message"
        ],
        "properties": {
          "message": {
            "type": "string",
            "description": "Human-readable error message."
          }
        }
      }
    }
  }
}
