{
  "openapi": "3.1.0",
  "info": {
    "title": "Recoup API - Billing",
    "description": "API documentation for the Recoup platform - an AI agent platform for the music industry",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.recoupable.com"
    }
  ],
  "paths": {
    "/api/credits": {
      "get": {
        "description": "Returns the credit balance for the authenticated account, automatically resetting the balance when the account is on a refill cycle (monthly cadence or just-activated subscription). Honors both account-level and organization-level Stripe subscriptions when deciding whether the refill should use the pro tier.",
        "security": [
          {
            "apiKeyAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Credits retrieved (and refilled if eligible).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditsGetResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/subscription": {
      "get": {
        "description": "Returns the authenticated account's active Stripe subscription (account-level preferred over organization-level), along with a derived `isPro` flag and a `source` marker indicating where the subscription is anchored. `subscription` is `null` when the account has no active subscription anywhere.",
        "security": [
          {
            "apiKeyAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      },
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "Your Recoup API key. [Learn more](/quickstart#api-keys)."
      }
    },
    "schemas": {
      "CreditsGetResponse": {
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/CreditsUsage"
              },
              {
                "type": "null"
              }
            ],
            "description": "The authenticated account's credits usage row, or null when the account has no credits row yet."
          }
        }
      },
      "CreditsUsage": {
        "type": "object",
        "required": [
          "account_id",
          "remaining_credits"
        ],
        "properties": {
          "account_id": {
            "type": "string",
            "description": "The Recoup account ID."
          },
          "remaining_credits": {
            "type": "number",
            "description": "Remaining credits for the account."
          },
          "timestamp": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO timestamp of the last credits refill."
          }
        }
      },
      "SubscriptionResponse": {
        "type": "object",
        "required": [
          "isPro",
          "source",
          "subscription"
        ],
        "properties": {
          "isPro": {
            "type": "boolean",
            "description": "True when the account or any of its organizations has an active Stripe subscription."
          },
          "source": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "account",
              "organization",
              null
            ],
            "description": "Where the active subscription is anchored. `null` when there is no active subscription."
          },
          "subscription": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/StripeSubscription"
              },
              {
                "type": "null"
              }
            ],
            "description": "The active Stripe Subscription (account-level preferred over org-level), or `null` when none."
          }
        }
      },
      "StripeSubscription": {
        "type": "object",
        "additionalProperties": true,
        "description": "A Stripe Subscription object. The full schema mirrors the upstream Stripe Subscription resource (see https://docs.stripe.com/api/subscriptions/object); the documented properties below are the load-bearing fields used by clients.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the subscription."
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "canceled",
              "incomplete",
              "incomplete_expired",
              "past_due",
              "trialing",
              "unpaid"
            ],
            "description": "The status of the subscription."
          },
          "current_period_start": {
            "type": "integer",
            "description": "Start of the current period (Unix timestamp)."
          },
          "current_period_end": {
            "type": "integer",
            "description": "End of the current period (Unix timestamp)."
          },
          "cancel_at_period_end": {
            "type": "boolean",
            "description": "If true, the subscription will be canceled at the end of the current period."
          },
          "canceled_at": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Unix timestamp at which the subscription was canceled, or null."
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Arbitrary key/value pairs attached to the subscription. Recoup writes `accountId` here."
          }
        }
      },
      "BillingErrorResponse": {
        "type": "object",
        "required": [
          "message"
        ],
        "properties": {
          "message": {
            "type": "string",
            "description": "Human-readable error message."
          }
        }
      }
    }
  }
}
