{
  "openapi": "3.1.0",
  "info": {
    "title": "Recoup Context Engine",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://api.recoupable.dev"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      },
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      },
      "GuestSession": {
        "type": "apiKey",
        "in": "cookie",
        "name": "recoup_context_guest"
      }
    },
    "schemas": {
      "ContextOperationError": {
        "type": "object",
        "required": [
          "error",
          "code",
          "retryable",
          "guidance"
        ],
        "properties": {
          "error": {
            "type": "string",
            "description": "Stable summary authored by the API for this code. It never contains database or provider diagnostics."
          },
          "code": {
            "type": "string",
            "enum": [
              "permission_denied",
              "not_found",
              "conflict",
              "unsupported_input",
              "not_ready",
              "unavailable",
              "budget_exhausted",
              "storage_failed",
              "internal"
            ],
            "description": "permission_denied (403): the caller is not a current member of the selected owner, or the record is not linked to it. not_found (404): the request, subject, brief, execution or review does not exist or is not visible in this workspace. conflict (409): the idempotency_key was reused with different input, a review fingerprint is stale, the saved record changed, or it is already past the state the action needs (for example a release identity that is already confirmed). unsupported_input (422): the input passed schema validation but this action does not support it, such as a YouTube video URL sent to ingest while only Spotify tracks are enabled, or a value the stored rules reject. not_ready (409): the request or a prerequisite has not reached the state the action needs yet. unavailable (503): a provider or capability is disabled or unreachable, or storage failed transiently. budget_exhausted (402): the authorized budget is exhausted and no paid work started. storage_failed (409): storage rejected the operation for its current saved state; an identical retry is rejected again. internal (500): unclassified failure. Bodies that fail schema validation, including album, playlist or other non-track URLs sent to ingest, return 400 before the operation runs and carry no code."
          },
          "retryable": {
            "type": "boolean",
            "description": "true when an identical retry may succeed later without changes; actions that take an idempotency_key must reuse it. A retry with the same key never creates a second request or saved record."
          },
          "guidance": {
            "type": "string",
            "description": "The next step for the caller or agent."
          }
        }
      }
    }
  },
  "paths": {
    "/api/context": {
      "post": {
        "operationId": "contextOperation",
        "summary": "Ingest, read, or compile context briefs",
        "description": "Save reusable music context, read progress, or compile a task-specific evidence brief. This reference documents the ingestion, read, brief, save_brief and read_brief actions of the shared HTTP/MCP operation. Brief compilation combines up to ten completed or partial requests in one authorized workspace, reuses saved evidence without provider or model calls, and returns bounded Markdown plus the selected input versions. Creative direction prioritizes lyrics and artwork; playlist pitching prioritizes catalog/audio metadata. Shared artist evidence appears once, with coverage reported separately for each request. Briefs are evidence packets, not generated creative concepts or finished outreach. Inspect readiness, request_coverage and gaps. The brief action is read-only; use save_brief with the same inputs and an idempotency_key to freeze the server-compiled output, then read_brief with its brief_id to retrieve it without recompilation. A newer document revision marks the snapshot superseded without rewriting it. Withdrawn/unavailable evidence, cancelled requests, or removed subject scope withhold the payload. Saving rechecks current evidence before committing. Apply the companion snapshot migration before using save_brief/read_brief. Ingestion dispatches a durable workflow; retry the same input and idempotency key after dispatch failure. Failures use one typed error contract on HTTP and MCP: the HTTP body is {error, code, retryable, guidance} with the statuses documented below, and the MCP context tool returns {success: false, code, message, retryable, guidance} with the same values and isError: true. Schema failures are not typed: HTTP returns 400 {error, issues} and MCP rejects the call with InvalidParams. Reading a request whose status is partial is the partial-result contract: output.subjectIds lists what was saved and output.gaps lists what is missing; a brief over a partial request reports readiness partial. Cancellation, source withdrawal, scoped correction and selected-topic refresh are not exposed yet and will reuse this error contract when added.",
        "security": [
          {
            "ApiKey": []
          },
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "required": [
                      "action",
                      "url",
                      "idempotency_key"
                    ],
                    "properties": {
                      "action": {
                        "type": "string",
                        "const": "ingest"
                      },
                      "organization_id": {
                        "type": "string",
                        "format": "uuid",
                        "description": "Optional organization that owns the private context. Current membership is checked."
                      },
                      "url": {
                        "type": "string",
                        "format": "uri",
                        "description": "Spotify track URL. Albums, playlists and YouTube ingestion are not enabled in this pilot."
                      },
                      "idempotency_key": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 128,
                        "pattern": "^[A-Za-z0-9._:-]+$",
                        "description": "Stable key for retrying the same input without duplicate work."
                      },
                      "topics": {
                        "type": "array",
                        "minItems": 1,
                        "maxItems": 10,
                        "items": {
                          "type": "string",
                          "enum": [
                            "release_metadata",
                            "artist_metadata",
                            "catalog_metadata",
                            "lyrics",
                            "song_summary",
                            "artwork_branding",
                            "artist_research",
                            "artist_brand",
                            "era",
                            "video_narrative"
                          ]
                        }
                      },
                      "direction": {
                        "type": "string",
                        "maxLength": 4000,
                        "description": "Stored customer direction. Metadata extraction does not interpret it as source facts."
                      }
                    }
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "required": [
                      "action",
                      "request_id"
                    ],
                    "properties": {
                      "action": {
                        "type": "string",
                        "const": "read"
                      },
                      "organization_id": {
                        "type": "string",
                        "format": "uuid",
                        "description": "Optional organization that owns the private context. Current membership is checked."
                      },
                      "request_id": {
                        "type": "string",
                        "format": "uuid"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "required": [
                      "action",
                      "request_id",
                      "purpose"
                    ],
                    "properties": {
                      "action": {
                        "type": "string",
                        "const": "brief"
                      },
                      "organization_id": {
                        "type": "string",
                        "format": "uuid",
                        "description": "Optional organization that owns the private context. Current membership is checked."
                      },
                      "request_id": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "purpose": {
                        "type": "string",
                        "enum": [
                          "creative_direction",
                          "playlist_pitch"
                        ]
                      },
                      "max_characters": {
                        "type": "integer",
                        "minimum": 1000,
                        "maximum": 32000,
                        "default": 12000,
                        "description": "Bounds selected evidence JSON and rendered Markdown independently. Does not cap the entire response, which also contains coverage and manifests. Documents are omitted whole to fit; omissions appear as coverage gaps."
                      },
                      "additional_request_ids": {
                        "type": "array",
                        "maxItems": 9,
                        "default": [],
                        "items": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "description": "Additional saved requests in the same selected workspace. Duplicate IDs are read once. Every request must be completed or partial; unavailable, cancelled, or inaccessible requests reject the operation."
                      }
                    }
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "required": [
                      "action",
                      "request_id",
                      "purpose",
                      "idempotency_key"
                    ],
                    "properties": {
                      "action": {
                        "type": "string",
                        "const": "save_brief"
                      },
                      "organization_id": {
                        "type": "string",
                        "format": "uuid",
                        "description": "Optional organization that owns the private context. Current membership is checked."
                      },
                      "request_id": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "purpose": {
                        "type": "string",
                        "enum": [
                          "creative_direction",
                          "playlist_pitch"
                        ]
                      },
                      "max_characters": {
                        "type": "integer",
                        "minimum": 1000,
                        "maximum": 32000,
                        "default": 12000,
                        "description": "Bounds selected evidence JSON and rendered Markdown independently. Does not cap the entire response, which also contains coverage and manifests. Documents are omitted whole to fit; omissions appear as coverage gaps."
                      },
                      "additional_request_ids": {
                        "type": "array",
                        "maxItems": 9,
                        "default": [],
                        "items": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "description": "Additional saved requests in the same selected workspace. Duplicate IDs are read once. Every request must be completed or partial; unavailable, cancelled, or inaccessible requests reject the operation."
                      },
                      "idempotency_key": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 128,
                        "pattern": "^[A-Za-z0-9._:-]+$",
                        "description": "Identifies one exact compiled output. Identical output reuses the saved record; different output with this key returns a conflict. After context updates, use read_brief for the old copy or a new key for a new snapshot."
                      }
                    }
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "required": [
                      "action",
                      "brief_id"
                    ],
                    "properties": {
                      "action": {
                        "type": "string",
                        "const": "read_brief"
                      },
                      "brief_id": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "organization_id": {
                        "type": "string",
                        "format": "uuid",
                        "description": "Optional organization that owns the private context. Current membership is checked."
                      }
                    }
                  }
                ]
              },
              "examples": {
                "twoSongBrief": {
                  "summary": "Compile creative direction from two saved songs",
                  "value": {
                    "action": "brief",
                    "request_id": "11111111-1111-4111-8111-111111111111",
                    "additional_request_ids": [
                      "22222222-2222-4222-8222-222222222222"
                    ],
                    "purpose": "creative_direction",
                    "max_characters": 12000
                  }
                },
                "saveBrief": {
                  "summary": "Save a playlist-pitch brief",
                  "value": {
                    "action": "save_brief",
                    "request_id": "11111111-1111-4111-8111-111111111111",
                    "purpose": "playlist_pitch",
                    "idempotency_key": "pitch-v1"
                  }
                },
                "readBrief": {
                  "summary": "Read an exact saved brief",
                  "value": {
                    "action": "read_brief",
                    "brief_id": "33333333-3333-4333-8333-333333333333"
                  }
                },
                "urlOnlyIngest": {
                  "summary": "Ingest one Spotify track URL with only an idempotency key",
                  "description": "The smallest start request. The 202 body carries the durable request.id; poll it with read. No account_id is accepted; identity comes from the credential.",
                  "value": {
                    "action": "ingest",
                    "url": "https://open.spotify.com/track/0000000000000000000000",
                    "idempotency_key": "track-ingest-2026-10-10-a"
                  }
                },
                "reconnectSameKey": {
                  "summary": "Reconnect after a lost response by re-sending the identical body",
                  "description": "Send exactly the same url, topics, direction, organization_id and idempotency_key as the first attempt. The server matches the normalized input fingerprint and returns the same request.id; no second request is created. A completed, partial or cancelled request is returned as-is with no new work. A queued, running or failed request is handed to the durable workflow again: the database claim admits one active run per request, so a live lease prevents duplicate execution, while a failed request or an expired lease is claimed and run again. Changing any field under the same key returns 409 conflict.",
                  "value": {
                    "action": "ingest",
                    "url": "https://open.spotify.com/track/0000000000000000000000",
                    "idempotency_key": "track-ingest-2026-10-10-a"
                  }
                },
                "readPartialResult": {
                  "summary": "Read a request that finished with partial evidence",
                  "description": "A 200 read whose request.status is partial is a usable result, not an error: output.subjectIds lists the saved subjects and output.gaps lists the topics or sources that are missing or unavailable. Compile a brief over it to see readiness and request_coverage. Partial is final for its idempotency_key: re-sending the original ingest body returns this request unchanged. To collect again after the gap cause is resolved, send ingest for the same URL with a new idempotency_key; that creates a new request and reuses identical saved evidence.",
                  "value": {
                    "action": "read",
                    "request_id": "11111111-1111-4111-8111-111111111111"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Saved ingestion request; inspect request.status and use read to poll. Existing completed/partial requests return without provider work."
          },
          "200": {
            "description": "Read returns request. Brief returns request_id, request_ids, purpose, readiness, bounded Markdown text and text_characters, documents and their serialized characters count, missingTopics, guidance, gaps, request_coverage, and input_manifest. Each coverage entry includes requestId, readiness and missingTopics; overall readiness remains partial if any request has a gap or partial evidence. The manifest includes compilerVersion, method, requestIds, excludedTopics, and selected documents with documentId, resultId (null only if unavailable), subjectId, topic, version and sourceVersionIds. The result is returned without creating a saved brief record. Save/read brief return {snapshot: {id, created_at, purpose, state, superseded, brief}}. state is saved or unavailable; unavailable snapshots return brief: null. saved snapshots return the exact compiled response including its input manifest. Another workspace cannot read the record."
          },
          "400": {
            "description": "Invalid input: the body failed schema validation before the operation ran, including an album, playlist or other non-track URL sent to ingest. The body is {error: \"Invalid context request\", issues} with no typed code; the MCP tool rejects the same input with an InvalidParams error."
          },
          "401": {
            "description": "Authentication required"
          },
          "402": {
            "description": "budget_exhausted: the authorized budget is exhausted and no paid work started.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContextOperationError"
                }
              }
            }
          },
          "403": {
            "description": "permission_denied: the caller is not a current member of the selected owner.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContextOperationError"
                }
              }
            }
          },
          "404": {
            "description": "not_found: the request, subject, brief, execution or review does not exist or is not visible in this workspace.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContextOperationError"
                }
              }
            }
          },
          "409": {
            "description": "conflict, not_ready or storage_failed; see code. conflict: the idempotency_key was reused with different input or saved state changed; read the record, then send identical input or a new key. not_ready: the request or a prerequisite has not reached the required state yet; read it and retry later. storage_failed: storage rejected the operation for its saved state; read it before changing input.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContextOperationError"
                }
              }
            }
          },
          "422": {
            "description": "unsupported_input: the input passed schema validation but this action does not support it, such as a YouTube video URL sent to ingest. Only public Spotify track URLs are accepted by ingest in this pilot.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContextOperationError"
                }
              }
            }
          },
          "500": {
            "description": "internal: unclassified failure. Confirm saved state with read before changing input.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContextOperationError"
                }
              }
            }
          },
          "503": {
            "description": "unavailable: a provider or capability is disabled or unreachable, or storage failed transiently. Retry later with the same input, reusing the idempotency_key on actions that take one.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContextOperationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/context/guest": {
      "post": {
        "summary": "Start guest context extraction",
        "description": "Feature-flagged metadata pilot. Saves a Spotify track URL in a temporary workspace before signup. Uses an HttpOnly seven-day cookie; only its hash is stored. One URL per guest session and 100 new guest workspaces per day globally. Extracts artist and release metadata only. Does not run paid enrichment, generate a site, or send email. Serve through the same-origin funnel; cross-site cookie integration is not provided. Retry the same URL and cookie to resume dispatch.",
        "security": [],
        "parameters": [
          {
            "name": "Origin",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The configured funnel origin. This is a browser session flow, not a public unauthenticated MCP tool."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "action",
                  "url"
                ],
                "properties": {
                  "action": {
                    "type": "string",
                    "enum": [
                      "start"
                    ]
                  },
                  "url": {
                    "type": "string",
                    "format": "uri"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Saved guest context or claim receipt."
          },
          "400": {
            "description": "Invalid request."
          },
          "401": {
            "description": "Guest session or account authentication missing."
          },
          "403": {
            "description": "Origin or workspace access denied."
          },
          "409": {
            "description": "Operation unavailable; retry the same input and session."
          },
          "503": {
            "description": "Guest context is disabled."
          },
          "202": {
            "description": "Guest work saved and workflow dispatched. Preserve Set-Cookie for status and claim."
          }
        }
      },
      "get": {
        "summary": "Read guest context",
        "description": "Returns metadata and status for the current unclaimed, unexpired guest session. Guest access ends when claimed. Unclaimed work expires after seven days.",
        "security": [
          {
            "GuestSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Saved guest context or claim receipt."
          },
          "400": {
            "description": "Invalid request."
          },
          "401": {
            "description": "Guest session or account authentication missing."
          },
          "403": {
            "description": "Origin or workspace access denied."
          },
          "409": {
            "description": "Operation unavailable; retry the same input and session."
          },
          "503": {
            "description": "Guest context is disabled."
          }
        }
      }
    },
    "/api/context/guest/claim": {
      "post": {
        "summary": "Claim guest context after sign-in",
        "description": "Requires the original guest cookie plus verified account authentication. Optionally claims into an authorized organization. Transfers saved metadata without refetching it; an in-progress worker finishes into the claimed destination. Repeated claims by the same account and destination return the same request ID. Another account cannot claim it. Existing matching identities and customer corrections are preserved. No artist ownership claim is implied. Signup UI integration must call this endpoint after authentication. The Recoup app provides a /context entry page and claims into the personal account after login. A failed extraction remains retryable through the same claim receipt. No completion email or website is generated by this flow.",
        "security": [
          {
            "GuestSession": [],
            "BearerAuth": []
          },
          {
            "GuestSession": [],
            "ApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "Origin",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The configured funnel origin. This is a browser session flow, not a public unauthenticated MCP tool."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "action"
                ],
                "properties": {
                  "action": {
                    "type": "string",
                    "enum": [
                      "claim"
                    ]
                  },
                  "organization_id": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Saved guest context or claim receipt."
          },
          "400": {
            "description": "Invalid request."
          },
          "401": {
            "description": "Guest session or account authentication missing."
          },
          "403": {
            "description": "Origin or workspace access denied."
          },
          "409": {
            "description": "Operation unavailable; retry the same input and session."
          },
          "503": {
            "description": "Guest context is disabled."
          }
        }
      }
    }
  }
}
