{
  "openapi": "3.1.0",
  "info": {
    "title": "Recoup Context Engine",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://api.recoupable.dev"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      },
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      },
      "GuestSession": {
        "type": "apiKey",
        "in": "cookie",
        "name": "recoup_context_guest"
      }
    }
  },
  "paths": {
    "/api/context": {
      "post": {
        "operationId": "contextOperation",
        "summary": "Ingest, read, or compile context briefs",
        "description": "Save reusable music context, read progress, or compile a task-specific evidence brief. This reference documents the ingestion, read, brief, save_brief and read_brief actions of the shared HTTP/MCP operation. Brief compilation combines up to ten completed or partial requests in one authorized workspace, reuses saved evidence without provider or model calls, and returns bounded Markdown plus the selected input versions. Creative direction prioritizes lyrics and artwork; playlist pitching prioritizes catalog/audio metadata. Shared artist evidence appears once, with coverage reported separately for each request. Briefs are evidence packets, not generated creative concepts or finished outreach. Inspect readiness, request_coverage and gaps. The brief action is read-only; use save_brief with the same inputs and an idempotency_key to freeze the server-compiled output, then read_brief with its brief_id to retrieve it without recompilation. A newer document revision marks the snapshot superseded without rewriting it. Withdrawn/unavailable evidence, cancelled requests, or removed subject scope withhold the payload. Saving rechecks current evidence before committing. Apply the companion snapshot migration before using save_brief/read_brief. Ingestion dispatches a durable workflow; retry the same input and idempotency key after dispatch failure. record_company_relationship and list_company_relationships keep operator-asserted company business relationships, such as frontline roster and catalog interest, private to the workspace and separate from access.",
        "security": [
          {
            "ApiKey": []
          },
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "required": [
                      "action",
                      "url",
                      "idempotency_key"
                    ],
                    "properties": {
                      "action": {
                        "type": "string",
                        "const": "ingest"
                      },
                      "organization_id": {
                        "type": "string",
                        "format": "uuid",
                        "description": "Optional organization that owns the private context. Current membership is checked."
                      },
                      "url": {
                        "type": "string",
                        "format": "uri",
                        "description": "Spotify track URL. Albums, playlists and YouTube ingestion are not enabled in this pilot."
                      },
                      "idempotency_key": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 128,
                        "pattern": "^[A-Za-z0-9._:-]+$",
                        "description": "Stable key for retrying the same input without duplicate work."
                      },
                      "topics": {
                        "type": "array",
                        "minItems": 1,
                        "maxItems": 10,
                        "items": {
                          "type": "string",
                          "enum": [
                            "release_metadata",
                            "artist_metadata",
                            "catalog_metadata",
                            "lyrics",
                            "song_summary",
                            "artwork_branding",
                            "artist_research",
                            "artist_brand",
                            "era",
                            "video_narrative"
                          ]
                        }
                      },
                      "direction": {
                        "type": "string",
                        "maxLength": 4000,
                        "description": "Stored customer direction. Metadata extraction does not interpret it as source facts."
                      }
                    }
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "required": [
                      "action",
                      "request_id"
                    ],
                    "properties": {
                      "action": {
                        "type": "string",
                        "const": "read"
                      },
                      "organization_id": {
                        "type": "string",
                        "format": "uuid",
                        "description": "Optional organization that owns the private context. Current membership is checked."
                      },
                      "request_id": {
                        "type": "string",
                        "format": "uuid"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "required": [
                      "action",
                      "request_id",
                      "purpose"
                    ],
                    "properties": {
                      "action": {
                        "type": "string",
                        "const": "brief"
                      },
                      "organization_id": {
                        "type": "string",
                        "format": "uuid",
                        "description": "Optional organization that owns the private context. Current membership is checked."
                      },
                      "request_id": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "purpose": {
                        "type": "string",
                        "enum": [
                          "creative_direction",
                          "playlist_pitch"
                        ]
                      },
                      "max_characters": {
                        "type": "integer",
                        "minimum": 1000,
                        "maximum": 32000,
                        "default": 12000,
                        "description": "Bounds selected evidence JSON and rendered Markdown independently. Does not cap the entire response, which also contains coverage and manifests. Documents are omitted whole to fit; omissions appear as coverage gaps."
                      },
                      "additional_request_ids": {
                        "type": "array",
                        "maxItems": 9,
                        "default": [],
                        "items": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "description": "Additional saved requests in the same selected workspace. Duplicate IDs are read once. Every request must be completed or partial; unavailable, cancelled, or inaccessible requests reject the operation."
                      }
                    }
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "required": [
                      "action",
                      "request_id",
                      "purpose",
                      "idempotency_key"
                    ],
                    "properties": {
                      "action": {
                        "type": "string",
                        "const": "save_brief"
                      },
                      "organization_id": {
                        "type": "string",
                        "format": "uuid",
                        "description": "Optional organization that owns the private context. Current membership is checked."
                      },
                      "request_id": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "purpose": {
                        "type": "string",
                        "enum": [
                          "creative_direction",
                          "playlist_pitch"
                        ]
                      },
                      "max_characters": {
                        "type": "integer",
                        "minimum": 1000,
                        "maximum": 32000,
                        "default": 12000,
                        "description": "Bounds selected evidence JSON and rendered Markdown independently. Does not cap the entire response, which also contains coverage and manifests. Documents are omitted whole to fit; omissions appear as coverage gaps."
                      },
                      "additional_request_ids": {
                        "type": "array",
                        "maxItems": 9,
                        "default": [],
                        "items": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "description": "Additional saved requests in the same selected workspace. Duplicate IDs are read once. Every request must be completed or partial; unavailable, cancelled, or inaccessible requests reject the operation."
                      },
                      "idempotency_key": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 128,
                        "pattern": "^[A-Za-z0-9._:-]+$",
                        "description": "Identifies one exact compiled output. Identical output reuses the saved record; different output with this key returns a conflict. After context updates, use read_brief for the old copy or a new key for a new snapshot."
                      }
                    }
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "required": [
                      "action",
                      "brief_id"
                    ],
                    "properties": {
                      "action": {
                        "type": "string",
                        "const": "read_brief"
                      },
                      "brief_id": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "organization_id": {
                        "type": "string",
                        "format": "uuid",
                        "description": "Optional organization that owns the private context. Current membership is checked."
                      }
                    }
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "required": [
                      "action",
                      "company_subject_id",
                      "counterparty",
                      "relationship_kind",
                      "status",
                      "idempotency_key"
                    ],
                    "description": "Record one operator-asserted business relationship that a saved company subject holds toward this workspace, one of its artist accounts or one of its organization professionals (for example, the company has the artist on its frontline roster, or distributes for the workspace). The company subject is the subjectIds[0] returned when the workspace saves a company name through this shared Context operation; that company-name action is not yet described in this reference. The record is private to the workspace and separate from access: it grants no login, membership, ownership, rights share, mandate or collection authority, and it never confirms the company's identity. frontline_roster is distinct from catalog_interest, so a company can keep a catalog_interest after an artist's frontline_roster relationship becomes former. Rows are never rewritten or deleted: when an artist leaves the roster, record a former row with supersedes_id set to the earlier current row. Unknown dates stay null; nothing is inferred. Replaying the same idempotency_key with identical input returns the saved row; changed input is rejected. The counterparty must be reachable in the workspace now: an artist the workspace no longer reaches, a party known only by name, and the reverse direction (the workspace holding an interest in the company) cannot be recorded yet. Returns contract_version company-relationship-v1, relationship (id, company_subject_id, counterparty, relationship_kind, status, started_on, ended_on, basis operator_assertion, note, asserted_by, supersedes_id, superseded_by, created_at), replayed and gaps operator_assertion_not_verified, no_ownership_rights_or_mandate_implied and no_access_granted. Not available to delegated OAuth connections.",
                    "properties": {
                      "action": {
                        "type": "string",
                        "const": "record_company_relationship"
                      },
                      "organization_id": {
                        "type": "string",
                        "format": "uuid",
                        "description": "Optional organization that owns the private context. Current membership is checked."
                      },
                      "company_subject_id": {
                        "type": "string",
                        "format": "uuid",
                        "description": "Saved company subject ID from a company-name context request in this workspace."
                      },
                      "counterparty": {
                        "description": "Who the company holds the relationship toward, inside this workspace. workspace means the workspace itself (for example its own label or publishing business). artist_account must be an artist the workspace can already access; professional must be an organization professional of this workspace. The counterparty is never created, enrolled or granted access by this action.",
                        "oneOf": [
                          {
                            "type": "object",
                            "additionalProperties": false,
                            "required": [
                              "kind"
                            ],
                            "properties": {
                              "kind": {
                                "type": "string",
                                "const": "workspace"
                              }
                            }
                          },
                          {
                            "type": "object",
                            "additionalProperties": false,
                            "required": [
                              "kind",
                              "artist_id"
                            ],
                            "properties": {
                              "kind": {
                                "type": "string",
                                "const": "artist_account"
                              },
                              "artist_id": {
                                "type": "string",
                                "format": "uuid"
                              }
                            }
                          },
                          {
                            "type": "object",
                            "additionalProperties": false,
                            "required": [
                              "kind",
                              "professional_id"
                            ],
                            "properties": {
                              "kind": {
                                "type": "string",
                                "const": "professional"
                              },
                              "professional_id": {
                                "type": "string",
                                "format": "uuid"
                              }
                            }
                          }
                        ]
                      },
                      "relationship_kind": {
                        "type": "string",
                        "enum": [
                          "frontline_roster",
                          "catalog_interest",
                          "publishing",
                          "distribution",
                          "management",
                          "services",
                          "other"
                        ],
                        "description": "Business relationship vocabulary only. None of these values asserts ownership, a rights share or a mandate."
                      },
                      "status": {
                        "type": "string",
                        "enum": [
                          "current",
                          "former"
                        ],
                        "description": "former preserves a historical relationship, such as an artist who left the roster, without deleting it."
                      },
                      "started_on": {
                        "type": "string",
                        "format": "date"
                      },
                      "ended_on": {
                        "type": "string",
                        "format": "date",
                        "description": "Only valid with status former, and not before started_on. Omit when the end date is unknown."
                      },
                      "note": {
                        "type": "string",
                        "maxLength": 2000,
                        "default": ""
                      },
                      "supersedes_id": {
                        "type": "string",
                        "format": "uuid",
                        "description": "Earlier relationship row this one replaces, such as the current frontline_roster row when the artist leaves. It must belong to the same workspace, company, counterparty and relationship_kind, and each row is superseded at most once. The earlier row is kept unchanged and is listed with superseded_by."
                      },
                      "idempotency_key": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 128,
                        "pattern": "^[A-Za-z0-9._:-]+$"
                      }
                    },
                    "dependentSchemas": {
                      "ended_on": {
                        "properties": {
                          "status": {
                            "const": "former"
                          }
                        }
                      }
                    }
                  },
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "required": [
                      "action",
                      "company_subject_id"
                    ],
                    "description": "List this workspace's operator-asserted relationships for one saved company subject, 50 per page ordered by id. coverage is operator_asserted_relationships_only: researched, parsed or inferred relationships are not included. After the workspace withdraws the company source, the list returns state unavailable with no items. Another workspace's rows are never returned, and an unknown or foreign company subject (including another workspace's withdrawn one) is denied without disclosing whether it exists. Returns contract_version, company_subject_id, state (available or unavailable), coverage, items with the same fields as a recorded relationship, next_id (null on the last page) and the same gaps. Items with superseded_by null are the latest statements; superseded rows remain as history. Not available to delegated OAuth connections.",
                    "properties": {
                      "action": {
                        "type": "string",
                        "const": "list_company_relationships"
                      },
                      "organization_id": {
                        "type": "string",
                        "format": "uuid",
                        "description": "Optional organization that owns the private context. Current membership is checked."
                      },
                      "company_subject_id": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "after_id": {
                        "type": "string",
                        "format": "uuid",
                        "description": "Relationship ID cursor from the previous page's next_id."
                      }
                    }
                  }
                ]
              },
              "examples": {
                "twoSongBrief": {
                  "summary": "Compile creative direction from two saved songs",
                  "value": {
                    "action": "brief",
                    "request_id": "11111111-1111-4111-8111-111111111111",
                    "additional_request_ids": [
                      "22222222-2222-4222-8222-222222222222"
                    ],
                    "purpose": "creative_direction",
                    "max_characters": 12000
                  }
                },
                "saveBrief": {
                  "summary": "Save a playlist-pitch brief",
                  "value": {
                    "action": "save_brief",
                    "request_id": "11111111-1111-4111-8111-111111111111",
                    "purpose": "playlist_pitch",
                    "idempotency_key": "pitch-v1"
                  }
                },
                "readBrief": {
                  "summary": "Read an exact saved brief",
                  "value": {
                    "action": "read_brief",
                    "brief_id": "33333333-3333-4333-8333-333333333333"
                  }
                },
                "recordFormerRosterRelationship": {
                  "summary": "Record that an artist left a company's frontline roster",
                  "value": {
                    "action": "record_company_relationship",
                    "company_subject_id": "44444444-4444-4444-8444-444444444444",
                    "counterparty": {
                      "kind": "artist_account",
                      "artist_id": "55555555-5555-4555-8555-555555555555"
                    },
                    "relationship_kind": "frontline_roster",
                    "status": "former",
                    "ended_on": "2025-06-30",
                    "supersedes_id": "66666666-6666-4666-8666-666666666666",
                    "idempotency_key": "roster-former-v1"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Saved ingestion request; inspect request.status and use read to poll. Existing completed/partial requests return without provider work."
          },
          "200": {
            "description": "Read returns request. Brief returns request_id, request_ids, purpose, readiness, bounded Markdown text and text_characters, documents and their serialized characters count, missingTopics, guidance, gaps, request_coverage, and input_manifest. Each coverage entry includes requestId, readiness and missingTopics; overall readiness remains partial if any request has a gap or partial evidence. The manifest includes compilerVersion, method, requestIds, excludedTopics, and selected documents with documentId, resultId (null only if unavailable), subjectId, topic, version and sourceVersionIds. The result is returned without creating a saved brief record. Save/read brief return {snapshot: {id, created_at, purpose, state, superseded, brief}}. state is saved or unavailable; unavailable snapshots return brief: null. saved snapshots return the exact compiled response including its input manifest. Another workspace cannot read the record."
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "description": "Authentication required"
          },
          "409": {
            "description": "Operation failed, access unavailable, input/key conflict, or request not found. Retry ingestion with the same idempotency key after correcting the cause."
          }
        }
      }
    },
    "/api/context/guest": {
      "post": {
        "summary": "Start guest context extraction",
        "description": "Feature-flagged metadata pilot. Saves a Spotify track URL in a temporary workspace before signup. Uses an HttpOnly seven-day cookie; only its hash is stored. One URL per guest session and 100 new guest workspaces per day globally. Extracts artist and release metadata only. Does not run paid enrichment, generate a site, or send email. Serve through the same-origin funnel; cross-site cookie integration is not provided. Retry the same URL and cookie to resume dispatch.",
        "security": [],
        "parameters": [
          {
            "name": "Origin",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The configured funnel origin. This is a browser session flow, not a public unauthenticated MCP tool."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "action",
                  "url"
                ],
                "properties": {
                  "action": {
                    "type": "string",
                    "enum": [
                      "start"
                    ]
                  },
                  "url": {
                    "type": "string",
                    "format": "uri"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Saved guest context or claim receipt."
          },
          "400": {
            "description": "Invalid request."
          },
          "401": {
            "description": "Guest session or account authentication missing."
          },
          "403": {
            "description": "Origin or workspace access denied."
          },
          "409": {
            "description": "Operation unavailable; retry the same input and session."
          },
          "503": {
            "description": "Guest context is disabled."
          },
          "202": {
            "description": "Guest work saved and workflow dispatched. Preserve Set-Cookie for status and claim."
          }
        }
      },
      "get": {
        "summary": "Read guest context",
        "description": "Returns metadata and status for the current unclaimed, unexpired guest session. Guest access ends when claimed. Unclaimed work expires after seven days.",
        "security": [
          {
            "GuestSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Saved guest context or claim receipt."
          },
          "400": {
            "description": "Invalid request."
          },
          "401": {
            "description": "Guest session or account authentication missing."
          },
          "403": {
            "description": "Origin or workspace access denied."
          },
          "409": {
            "description": "Operation unavailable; retry the same input and session."
          },
          "503": {
            "description": "Guest context is disabled."
          }
        }
      }
    },
    "/api/context/guest/claim": {
      "post": {
        "summary": "Claim guest context after sign-in",
        "description": "Requires the original guest cookie plus verified account authentication. Optionally claims into an authorized organization. Transfers saved metadata without refetching it; an in-progress worker finishes into the claimed destination. Repeated claims by the same account and destination return the same request ID. Another account cannot claim it. Existing matching identities and customer corrections are preserved. No artist ownership claim is implied. Signup UI integration must call this endpoint after authentication. The Recoup app provides a /context entry page and claims into the personal account after login. A failed extraction remains retryable through the same claim receipt. No completion email or website is generated by this flow.",
        "security": [
          {
            "GuestSession": [],
            "BearerAuth": []
          },
          {
            "GuestSession": [],
            "ApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "Origin",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The configured funnel origin. This is a browser session flow, not a public unauthenticated MCP tool."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "action"
                ],
                "properties": {
                  "action": {
                    "type": "string",
                    "enum": [
                      "claim"
                    ]
                  },
                  "organization_id": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Saved guest context or claim receipt."
          },
          "400": {
            "description": "Invalid request."
          },
          "401": {
            "description": "Guest session or account authentication missing."
          },
          "403": {
            "description": "Origin or workspace access denied."
          },
          "409": {
            "description": "Operation unavailable; retry the same input and session."
          },
          "503": {
            "description": "Guest context is disabled."
          }
        }
      }
    }
  }
}
