{
  "openapi": "3.1.0",
  "info": {
    "title": "Recoup API - Sessions",
    "description": "Sessions — sandboxed runs of an LLM-driven agent with tool use, lifecycle hooks, and persistence. Each session pairs one Vercel Sandbox with one or more chat threads.",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.recoupable.com"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    },
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/api/sessions": {
      "post": {
        "summary": "Create session",
        "description": "Creates a new agent session and an initial empty chat in a single transaction. The session is created in the `provisioning` lifecycle state — a separate orchestration step claims it and starts the sandbox.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSessionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session and initial chat created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSessionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body — either malformed JSON or a field failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — invalid or missing API key / Bearer token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error — the session could not be persisted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/sessions/{sessionId}": {
      "get": {
        "summary": "Get session by id",
        "description": "Returns a single agent session by its id.",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "description": "The id of the session to fetch.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSessionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key / Bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - the authenticated account does not own this session",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found - no session exists with the given id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "patchSessionById",
        "summary": "Update session",
        "description": "Renames a session or changes its status (e.g. archive / unarchive). All body fields are optional; omitted fields are left unchanged.",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "description": "The id of the session to update.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchSessionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSessionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request — malformed JSON body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — invalid or missing API key / Bearer token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — the authenticated account does not own this session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found — no session exists with the given id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error — the session could not be updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/sessions/{sessionId}/chats": {
      "get": {
        "summary": "List session chats",
        "description": "Lists every chat in the given session as a `ChatSummary` (chat row plus per-account `hasUnread` and `isStreaming` flags), along with the caller's default model id. Chats are sorted by `createdAt` ascending.",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "description": "The id of the parent session.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Chats retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListSessionChatsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — invalid or missing API key / Bearer token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — the authenticated account does not own this session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found — no session exists with the given id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create session chat",
        "description": "Creates a new chat inside the given session. Callers may pass `{ id }` to claim a deterministic chat id — useful for optimistic UI flows where the client generates the id locally and then persists it. If a chat with that id already exists in **this** session the call is idempotent and returns the existing row; if it exists in **another** session, 409 is returned.",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "description": "The id of the parent session.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSessionChatRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Chat created, or existing chat returned (idempotent on same-session reuse).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSessionChatResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid chat id — body contained `id` but it was an empty string or not a string.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidChatIdError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — invalid or missing API key / Bearer token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — the authenticated account does not own this session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found — no session exists with the given id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Chat id conflict — a chat with the requested id already exists on a different session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatIdConflictError"
                }
              }
            }
          },
          "500": {
            "description": "Server error — the chat could not be persisted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/sessions/{sessionId}/chats/{chatId}/messages": {
      "post": {
        "summary": "Persist assistant chat message",
        "description": "Upserts an **assistant** UI message into the chat identified by `chatId` under `sessionId`. Intended for agent workflows persisting streamed output (AI SDK UI message shape). The server accepts only messages with `role: assistant`, a non-empty string `id`, and a `parts` array; other payloads yield **400**. Duplicate message ids already tied to another chat or role yield **409**.",
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "description": "The id of the parent session.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chatId",
            "in": "path",
            "required": true,
            "description": "The target chat id under `sessionId` — the same opaque string returned by `POST /api/sessions/{sessionId}/chats` or listed by `GET /api/sessions/{sessionId}/chats`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PersistAssistantMessageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message upserted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersistAssistantMessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Malformed JSON body, or `message` is missing / not a valid assistant UI message.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersistAssistantMessageBadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — invalid or missing API key / Bearer token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — the authenticated account does not own this session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found — no session exists with the given id, or no chat exists under that session for `chatId`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Message id conflict — the message id already belongs to a different chat or role.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageIdConflictError"
                }
              }
            }
          },
          "500": {
            "description": "Server error — the message could not be persisted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      },
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "CreateSessionRequest": {
        "type": "object",
        "description": "All fields are optional. An empty body is valid and creates a session with default settings.",
        "properties": {
          "title": {
            "type": "string",
            "description": "Display title for the session. When omitted, the server generates one."
          },
          "repoOwner": {
            "type": "string",
            "description": "GitHub repository owner (user or org). Validated against GitHub's owner-name rules."
          },
          "repoName": {
            "type": "string",
            "description": "GitHub repository name. Validated against GitHub's repo-name rules."
          },
          "branch": {
            "type": "string",
            "description": "Branch the session should check out. Ignored when `isNewBranch` is true — the server generates a new branch name in that case."
          },
          "cloneUrl": {
            "type": "string",
            "description": "Clone URL the sandbox should fetch from."
          },
          "isNewBranch": {
            "type": "boolean",
            "description": "When true, the server generates a fresh branch name (e.g. `xx/abcdef12`) instead of using `branch`."
          },
          "sandboxType": {
            "type": "string",
            "enum": [
              "vercel"
            ],
            "description": "Which sandbox provider to use. Currently only `vercel` is accepted."
          }
        }
      },
      "PatchSessionRequest": {
        "type": "object",
        "description": "All fields are optional. Omitted fields are left unchanged.",
        "properties": {
          "title": {
            "type": "string",
            "description": "New display title for the session (rename)."
          },
          "status": {
            "type": "string",
            "enum": [
              "running",
              "completed",
              "failed",
              "archived"
            ],
            "description": "Lifecycle status (matches the DB CHECK). `running` is active / unarchived; `completed` and `failed` are terminal; `archived` archives the row. Use `running` to unarchive from `archived`."
          },
          "linesAdded": {
            "type": "integer",
            "minimum": 0,
            "description": "Updates the persisted `lines_added` column on the session (≥ 0)."
          },
          "linesRemoved": {
            "type": "integer",
            "minimum": 0,
            "description": "Updates the persisted `lines_removed` column on the session (≥ 0)."
          }
        }
      },
      "GetSessionResponse": {
        "type": "object",
        "required": [
          "session"
        ],
        "properties": {
          "session": {
            "$ref": "#/components/schemas/Session"
          }
        }
      },
      "CreateSessionResponse": {
        "type": "object",
        "required": [
          "session",
          "chat"
        ],
        "properties": {
          "session": {
            "$ref": "#/components/schemas/Session"
          },
          "chat": {
            "$ref": "#/components/schemas/Chat"
          }
        }
      },
      "Chat": {
        "type": "object",
        "required": [
          "id",
          "sessionId",
          "title",
          "modelId",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Opaque chat id returned by list/create endpoints. Callers may supply `id` on `POST /api/sessions/{sessionId}/chats`; when omitted the server generates a UUID."
          },
          "sessionId": {
            "type": "string",
            "description": "Owning session id."
          },
          "title": {
            "type": "string",
            "description": "Display title for the chat. The initial chat created with a session is titled `New chat`."
          },
          "modelId": {
            "type": "string",
            "description": "AI Gateway model identifier the chat is configured to use (e.g. `openai/gpt-5.4`)."
          },
          "activeStreamId": {
            "type": "string",
            "nullable": true,
            "description": "Id of an in-flight assistant stream, if one is active."
          },
          "lastAssistantMessageAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Timestamp of the most recent assistant message in this chat."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ChatSummary": {
        "type": "object",
        "description": "Chat row enriched with per-account `hasUnread` and computed `isStreaming` flags for chat-list rendering.",
        "required": [
          "id",
          "sessionId",
          "title",
          "createdAt",
          "updatedAt",
          "hasUnread",
          "isStreaming"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "sessionId": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "modelId": {
            "type": "string",
            "nullable": true
          },
          "activeStreamId": {
            "type": "string",
            "nullable": true
          },
          "lastAssistantMessageAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "hasUnread": {
            "type": "boolean",
            "description": "True when `lastAssistantMessageAt` is newer than the caller's `chat_reads.last_read_at` (or no read row exists yet)."
          },
          "isStreaming": {
            "type": "boolean",
            "description": "True when `activeStreamId` is non-null."
          }
        }
      },
      "ListSessionChatsResponse": {
        "type": "object",
        "required": [
          "chats",
          "defaultModelId"
        ],
        "properties": {
          "chats": {
            "type": "array",
            "description": "Every chat in the session, sorted by `createdAt` ascending.",
            "items": {
              "$ref": "#/components/schemas/ChatSummary"
            }
          },
          "defaultModelId": {
            "type": "string",
            "description": "Default model id surfaced to clients with no explicit preference (e.g. `openai/gpt-5.4`)."
          }
        }
      },
      "CreateSessionChatRequest": {
        "type": "object",
        "description": "Body for `POST /api/sessions/{sessionId}/chats`. Both an empty body and an omitted body are valid.",
        "properties": {
          "id": {
            "type": "string",
            "minLength": 1,
            "description": "Optional client-supplied chat id (used for optimistic UI flows). When omitted, the server generates a UUID. When supplied, must be a non-empty string."
          }
        }
      },
      "CreateSessionChatResponse": {
        "type": "object",
        "required": [
          "chat"
        ],
        "properties": {
          "chat": {
            "$ref": "#/components/schemas/Chat"
          }
        }
      },
      "InvalidChatIdError": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "string",
            "enum": [
              "Invalid chat id"
            ]
          }
        }
      },
      "ChatIdConflictError": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "string",
            "enum": [
              "Chat ID conflict"
            ]
          }
        }
      },
      "PersistAssistantMessageRequest": {
        "type": "object",
        "required": [
          "message"
        ],
        "additionalProperties": false,
        "properties": {
          "message": {
            "$ref": "#/components/schemas/AssistantUIMessage"
          }
        }
      },
      "AssistantUIMessage": {
        "type": "object",
        "description": "Minimal assistant-branch AI SDK UI message. Servers validate `role === \"assistant\"`, string `id`, and array `parts`; extra keys are allowed on the payload.",
        "required": [
          "id",
          "role",
          "parts"
        ],
        "properties": {
          "id": {
            "type": "string",
            "minLength": 1,
            "description": "Stable message id used for upsert."
          },
          "role": {
            "type": "string",
            "enum": [
              "assistant"
            ]
          },
          "parts": {
            "type": "array",
            "description": "Message parts (text, reasoning, tool calls, etc.) as produced by the UI/agent pipeline.",
            "items": true
          }
        },
        "additionalProperties": true
      },
      "PersistAssistantMessageResponse": {
        "type": "object",
        "required": [
          "success",
          "status"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "status": {
            "type": "string",
            "description": "Upsert outcome from persistence (e.g. `inserted` when a new row was written, `updated` when an existing row was replaced)."
          }
        }
      },
      "PersistAssistantMessageBadRequest": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "string",
            "description": "e.g. `Invalid JSON body` or `A valid assistant message is required`."
          }
        }
      },
      "MessageIdConflictError": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "string",
            "enum": [
              "Message ID already belongs to a different chat or role"
            ]
          }
        }
      },
      "Session": {
        "type": "object",
        "required": [
          "id",
          "userId",
          "title",
          "status",
          "isNewBranch",
          "globalSkillRefs",
          "lifecycleVersion",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Session id (nanoid)."
          },
          "userId": {
            "type": "string",
            "format": "uuid",
            "description": "Owning account id. Named `userId` here for compatibility with existing clients; on the server side this is the account_id foreign key into the accounts table."
          },
          "title": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "running",
              "completed",
              "failed",
              "archived"
            ]
          },
          "repoOwner": {
            "type": "string",
            "nullable": true,
            "description": "GitHub repo owner if the session is bound to a repository."
          },
          "repoName": {
            "type": "string",
            "nullable": true
          },
          "branch": {
            "type": "string",
            "nullable": true
          },
          "cloneUrl": {
            "type": "string",
            "nullable": true,
            "description": "Clone URL the sandbox should fetch from."
          },
          "isNewBranch": {
            "type": "boolean",
            "description": "True when this session created and pushed a new branch (not committing back to the original)."
          },
          "globalSkillRefs": {
            "type": "array",
            "description": "Skills attached to the agent at provision time.",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "sandboxState": {
            "type": "object",
            "nullable": true,
            "additionalProperties": true,
            "description": "Sandbox runtime state (Vercel Sandbox)."
          },
          "lifecycleState": {
            "type": "string",
            "nullable": true,
            "enum": [
              "provisioning",
              "active",
              "hibernating",
              "hibernated",
              "restoring",
              "archived",
              "failed"
            ],
            "description": "Lifecycle orchestration state for the sandbox."
          },
          "lifecycleVersion": {
            "type": "integer",
            "description": "Optimistic concurrency token for lifecycle transitions."
          },
          "lastActivityAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "sandboxExpiresAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "hibernateAfter": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "lifecycleRunId": {
            "type": "string",
            "nullable": true
          },
          "lifecycleError": {
            "type": "string",
            "nullable": true
          },
          "linesAdded": {
            "type": "integer",
            "nullable": true,
            "description": "Lines added across the session's diff. Defaults to 0; null when stats have not been computed."
          },
          "linesRemoved": {
            "type": "integer",
            "nullable": true,
            "description": "Lines removed across the session's diff. Defaults to 0; null when stats have not been computed."
          },
          "snapshotUrl": {
            "type": "string",
            "nullable": true
          },
          "snapshotCreatedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "snapshotSizeBytes": {
            "type": "integer",
            "nullable": true
          },
          "cachedDiff": {
            "type": "object",
            "nullable": true,
            "additionalProperties": true
          },
          "cachedDiffUpdatedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Error": {
        "type": "object",
        "required": [
          "status",
          "error"
        ],
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "error"
            ],
            "description": "Always `\"error\"` for error responses."
          },
          "error": {
            "type": "string",
            "description": "Human-readable error message."
          }
        }
      }
    }
  }
}
